@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/*common css start*/
body{
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #8e8e8e;
}
.cm_padding{
	padding-bottom: 100px;
}
.common_btn{
	padding: 14px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    background-color: #fff;
    border: 1px solid #8e8e8e;
    border-radius: 2px;
    text-transform: uppercase;
    transition: .33s ease;
}
.common_btn:hover{
	color: #333333;
	background-color: #f8f8f8;
	border: 1px solid #333333;
}
.common_btn:active{
	color: #333333 !important;
	background-color: #f8f8f8 !important;
	border: 1px solid #333333 !important;
}
/*common css end*/


/*header start*/
header{
	padding: 20px 0;
}
.t_logo{
    font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #333333;
	text-transform: uppercase;
}
.m_item{
    margin: 0 15px;
	padding: 0 !important;
    font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #8e8e8e;
	text-transform: uppercase;
	transition: .3s ease;
}
.m_item:hover{
	color: #333333 !important;
}
.serch_btn{
	padding: 0 0 0 15px;
    border: 0;
}
.serch_btn i{
	color: #8e8e8e;
}
.mod_btn{
    border: none;
}
.smodal_width {
    --bs-modal-width: 600px;
}
/*header end*/


/* slider start */
.slider{
	background-image: url(images/slider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.b_content{
	margin: 160px 0;
}
.b_h1{
    font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
}
.b_p{
	margin: 40px 0;
	color: #fff;
	line-height: 30px;
}
.b_btn span{
	margin-left: 14px;
}
.bslide_btn{
	color: #8e8e8e;
	background-color: transparent;
    border: none;
}
.bslide_btn:active{
	color: black;
}
.bslide_btn:visited{
	color: black;
}
.c_pipe{
	color: #8e8e8e;
}
.c_pipe1{
	font-size: 16px;
	color: #333333;
}
/* slider end */


/* service start*/
.cm_title{
	text-align: center;
}
.cm_pipe{
	margin: 0 auto;
    width: 2px;
    height: 50px;
    background-color: #333333;
}
.cm_h1{
	margin: 30px 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}
.s_article p{
	margin-top: 40px;
	line-height: 30px;
}
.s_service{
	margin-top: 90px;
	padding: 70px 15px 40px;
	border: 1px solid #8e8e8e;
	border-radius: 2px;
	text-align: center;
	transition: .33s ease;
}
.s_icon{
	margin: -102px auto 0;
    width: 62px;
    font-size: 60px;
    background-color: #fff;
}
.s_service:hover{
	border: 1px solid #333333;
}
.s_service:hover .s_icon i{
	color: #333333;
}
.s_service:hover a{
	color: #333333;
}
.s_service:hover a i{
	color: #333333;
}
.s_h2{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 30px;
    text-transform: uppercase;
}
.s_pipe{
    margin: 16px auto;
    width: 54px;
    background-color: #8e8e8e;
}
.s_p{
	margin-bottom: 40px;
	line-height: 26px;
}
.s_btn{
	padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8e8e8e;
    text-transform: uppercase;	
}
.s_btn span i{
	margin-left: 8px;
}
/* service end */


/* about start */
.a_h1{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}
.a_p1{
	margin: 36px 0;
	line-height: 26px;
}
.a_p2{
	margin-bottom: 36px;
	line-height: 26px;
}
/* about end */


/* recent start */
.work{
	padding-bottom: 100px;
	background-color: #f8f8f8;
}
.active{
    font-family: 'Roboto', sans-serif !important;
	font-weight: 500 !important;
	color: #333333 !important;
    border-color: #333333 !important;	
}
.work_sample{
	margin-top: 60px;
}
.ws_btn {
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: .33s ease;
}
.ws_btn:hover{
	color: #333333;
}
.ws_content{
	margin-top: 10px;
}
.w_box{
	margin-top: 30px;
	position: relative;
}
.w_box:hover .overlay{
	opacity: 50%;
}
.w_box:hover .w_boxicon{
	opacity: 1;
}
.w_box:hover .w_boxcont{
	opacity: 1;
}
.w_boximg img{
	border-radius: 4px;
}
.overlay{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #333333;
    opacity: 0;
    border-radius: 4px;
    transition: .33s ease;
}
.w_boxicon{
    font-size: 40px;
    color: white;
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
}
.w_boxicon i{
    transition: .33s ease;
}
.w_boxicon:hover i{
	transform: scale(.8);
}
.w_boxcont {
    padding-left: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: #ffffff;
    opacity: 0;
    border-left: 1px solid #333333;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: .33s cubic-bezier(0.31, 0.53, 0.58, 1);
}
.w_boxconth2{
	padding: 14px 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 26px;
    text-transform: uppercase;
}
.w_boxcontp{
	padding-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #8e8e8e;
    line-height: 26px;
}
/* recent end */


/* choice start */
.ho_margin{
	margin-bottom: 30px;
}
.s_handover{
	margin-top: 40px;
}
.s_handicon{
	display: flex;
    align-items: center;
}
.s_handicon i{
	font-size: 48px;
}
.s_handh2{
	margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #8e8e8e;
    line-height: 30px;
    text-transform: uppercase;
}
.s_handp{
	margin: 35px 0;
	line-height: 26px;
}
.s_handpipe{
	width: 100%;
    height: 1px;
    background-color: #8e8e8e;
}
/* choice end */


/*team start*/
.team{
	background-image: url(images/with.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.s_team{
	margin-top: 100px;
	position: relative;
	background-color: white;
	border: 1px solid #8e8e8e;
	border-radius: 2px;
}
.tperson_content{
	padding: 16px 0 16px 30px;
}
.s_teamh2{
	margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}
.s_teamh3{
	font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
.tperson_img{
	transition: .33s ease;
	cursor: pointer;
}
.teamsocial{
	width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    opacity: 0;
    transition: .33s cubic-bezier(0.25, 0.1, 0.49, 0.89);
}
.tperson_img:hover .teamsocial {
	opacity: 1;
}
.teamsocial ul li{
	background: transparent;
    border-right: 1px solid transparent;
    transition: .3s ease;
}
.teamsocial ul li:hover{
	background: #8e8e8e69;
	border-right: 1px solid #333333;
}
.teamsocial ul li a i{
	padding: 8px 6px;
    font-size: 24px;
    color: #8e8e8e;
    transition: .3s ease;
}
.teamsocial ul li a i:hover{
	color: #333333;
}

/*team end*/

/*price start*/
.s_price{
	position: relative;
	margin-top: 100px;
	padding: 0 30px 40px;
    border: 1px solid #8e8e8e;
    transition: .33s cubic-bezier(0.67, -0.07, 0.35, 1.02);
}
.s_price:hover{
	border-color: #333333;
}
.sp_h3{
    padding: 0px 8px;
	position: absolute;
    top: -16px;
    left: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
}
.sp_h2{
	margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #333333;
}
.sp_h2 span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}

.p_fiture{
	margin: 36px 0;
}
.p_fiture p{
	margin-bottom: 22px;
}
.p_fiture p:last-child{
	margin-bottom: 0;
}
.p_fiture p span{
	margin-right: 4px;
}

.sp_btn{
	padding: 14px 40px;
	color: #8e8e8e;
}
.sp_btn span{
	margin-left: 14px;
}
/*price end*/


/*buy start*/
.buy{
	margin-bottom: 100px;
	padding: 40px 0;
	background-color: #f8f8f8;
}
.buyh2{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}
.buy_btn{
	text-align: right;
}
/*buy end*/


/*testimony start*/
.carou_border{
	border: 1px solid #8e8e8e;
	border-radius: 4px;
}
.t_content {
    padding: 40px 30px;
}
.tes_img{
	position: relative;
}
.tes_img img{
	border-radius: 2px;
}
.q_icon {
    position: absolute;
    top: 12px;
    left: 12px;
}
.q_icon i{
	font-size: 40px;
    color: #333333;
}
.tesc_h2{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}
.tesc_h3{
	margin: 18px 0;
	font-size: 18px;
    font-weight: 400;
    color: #8e8e8e;
}
.tesc_h4{
	font-size: 18px;
    font-weight: 400;
    color: #333333;
}
.tesc_p1{
	margin-top: 36px;
    color: #8e8e8e;
	line-height: 26px;
}
.tesc_p2{
    color: #8e8e8e;
	line-height: 26px;
}
.pipe_box{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.pipe{
	width: 12px;
    height: 2px;
    background-color: #8e8e8e;
}
.pipe2{
    margin: 6px 0;
    width: 18px;
	background-color: #333333;
}
.tes_btn1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	background: #f7f3f3;
    align-items: center;
	border-radius: 4px;
}
.tes_sbtn{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #8e8e8e;
    background: transparent;
    writing-mode: vertical-rl;
    transform: rotate(90deg);
    border: 1px solid transparent;
    transition: .3s ease;
}
.tes_sbtn:hover{
	color: #333333;
}
.tes_sbtn:active{
	color: black;
}
/*testimony end*/


/*contact start*/
.contact_box{
	border: 1px solid #8e8e8e;
}
.c_form{
	position: relative;
    margin-top: 90px;
}
.c_form input{
	padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    border: 0;
    border-bottom: 1px solid #8e8e8e;
}
.c_form input:focus{
	outline: 0;
	border-bottom: 2px solid #333333;
}
.c_formh1{
	padding: 0 10px;
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    background-color: #fff;
    text-transform: uppercase;
}
.cfin_1{
	margin-bottom: 20px;
}
.cfin_1 input{
	width: 46%;
}
.cfin_1 input:first-child{
	margin-right: 40px;
}
.cfin_2 {
    width: 100%;
    border-bottom: 1px solid black;
}
.cfin_3 {
    padding: 60px 15px !important;
    width: 100%;
}
.form_btn{
    margin: 45px 0;
	text-align: center;
}
/*contact end*/


/*footer start*/
.footer{
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.social_cont p{
	margin: 35px 0;
	color: #fff;
	line-height: 26px;
	text-align: center;
}

.social_icon{
	margin-bottom: 90px;
	text-align: center;
}
.social_icon ul li a i{
	padding: 10px 12px;
    font-size: 26px;
    color: #fff;
    border: 1px solid #fff;
    transition: .3s ease;
}
.social_icon ul li a i:hover{
	color: black;
	background-color: white;
}
.footer_bottom{
	padding: 40px 0;
}
.fb_p p{
	color: #fff;
}
.fb_p p a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
	color: white;
}
.fb_p p a:hover{
	color: #dbd8d8;
}
.fb_link{
	text-align: right;
}
.fb_link ul li{
	margin-right: 0 !important;
}
.fb_link ul li a{
	margin: 0 18px;
	color: #fff;
	text-decoration: none;
	transition: .3s ease;
}
.fb_link ul li:last-child a{
	margin-right: 0;
}
.fb_link ul li a:hover{
	color: #dbd8d8;
}
/*footer end*/